@import url('https://fonts.googleapis.com/css2?family=Esteban&family=Montserrat+Alternates:ital,wght@1,500&display=swap');

#content {
    max-width: 1024px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #EDF2F4;
    text-decoration: none;
    padding: 35px;
}

.home-title{
    font-family: Montserrat Alternates;
    font-size: 5em;
    color: black;
    margin: auto;
    text-align: center;
    grid-column: 2/10;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
}

h4 {
    color: black;
}

#hero-msg h1 {
    color: Black;
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    font-family: Esteban;
    font-size: 22px;
    background-color: White;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 120px auto;
    background-color: black;
    opacity: .7;
}

nav a:hover {
    background-color: #8D99AE;
    color: black;
}

.image1 {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/4;
}

.image2 {
    width: 100%;
    height: 100%;
    grid-column: 2/5;
    grid-row: 5/8;
}

.msg {
    line-height: 1.5em;
    background-color: #8D99AE;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 2/3;
}

.msg2 {
    line-height: 1.5em;
    background-color: #D90429;
    padding: 35px;
    grid-column: 3/10;
    grid-row: 6/7;
}

.msg h2 {
    font-family: Montserrat Alternates;
    color: black;
}

.msg p {
    font-family: Esteban;
    font-size: .8em;
    color: Black;
    padding-bottom: 15px;
}

footer {
    background-color: #2B2D42 ;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    color: white;
}

footer p:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #0D6C9E;
}

footer .social img {
    padding-top: 15px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 89px;
}

#hero-img {
    width: 1519px;
    height: 750px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
